*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trip-image {
  width: 100%;                
  object-fit: cover;     
  border-radius: 1rem;   
}

.images{
    width: 100%;
}

.image-destination{
    color: black;
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.trip-image{
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.trip-image:hover{
    filter: brightness(50%);
    transition: all 0.3s ease-in-out;
}