* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin-top: 1rem;
}

header>* {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    transition: all 200ms ease-in-out;
}

header>*:hover {
    transform: scale(1.01);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1rem;
    padding: 1rem;
    color: #6e6e6e;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header>* {
        font-size: 2.5rem;
    }

    header {
        padding: 3rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 2rem;
        font-size: 1.5rem;
    }
}

#get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 200ms ease-in-out;
}

#get-started-button:hover {
    gap: 10px;
}