*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
}
