*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.App{
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  min-height: 100dvh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .App {
    padding-bottom: 0;
  }
}