*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-trips{
    width: 60%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.trip-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #FF8C00;
    font-weight: lighter;
}

.time{
    color: black;
}

@media screen and (max-width: 768px){
    .user-trips{
        width: 80%;
    }
}

@media screen and (max-width: 576px){
    .user-trips{
        width: 100%;
    }
}

.destination-card{
    height: 400px;
    border-radius: 1rem;
    border: 2px solid black;
}

.trip-destinations{
    padding: 1rem;
    width: 100%;
}

.trip-destinations > h3{
    padding: 1rem;
}

.destinations-list{
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    width: 28px;
    height: 28px;
    color: #FF8C00;      
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px;     
    font-weight: bold;
}

.hotel-card{
    height: 400px;
    border-radius: 1rem;
    border: 2px solid black;
}

.trip-hotels{
    padding: 1rem;
    width: 100%;
}

.trip-hotels > h3{
    padding: 1rem;
}

.hotels-list{
    width: 100%;
}