*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register{
    margin-top: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 5;
}

@media screen and (max-width: 500px){
    .register{
        box-shadow: none;
        margin-top: 0;
        padding-top: 2rem;
        width: 100vw;
        height: 100%
    }
}

h1{
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

form > * {
    width: 300px;
}

.signup-utils{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-submit-button{
    margin-top: 0.5rem;
}

.open-authorization{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#google-oauth:hover{
    background-color: rgba(0, 0, 0, 0.05);
}